<a href="https://colab.research.google.com/github/pronabdshaikat/MLDS/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Class 1**

In [ ]:
#print
print('hello')

hello

In [ ]:
#normal arithmatics
a=10
b=20
c=a+b
print(c)

30

In [ ]:
#swapping variables
x, y=10,20
print('value of x=',x)
print('value of y=',y)

x,y=y,x
print('value of x after swapping=',x)
print('value of y after swapping=',y)

value of x= 10
value of y= 20
value of x after swapping= 20
value of y after swapping= 10

**Class 2**

In [ ]:
#indentation
a=10
b=20
if a>b:
  print('a is large')
else:
    print('b is large')

b is large

In [ ]:
#using user input for calculation
a=int(input('enter the value of a='))
b=int(input('enter the value of b='))
c=a+b
print(c)

enter the value of a=10
enter the value of b=20
30

In [ ]:
#multi-line statement
a=30
b=40
c=50
d=a+\
b+\
c
print(d)

120

In [ ]:
t=[1,2,3,
     5,5,42,
     3]
print(t)

[1, 2, 3, 5, 5, 42, 3]

In [ ]:
#deleting variable
n=10
m=40
print(n)
del n
print(n)

10

NameError: name 'n' is not defined

In [ ]:
#data types
l='NACTAR'
m=10
n=10.5
print(type(l))
print(type(m))
print(type(n))

t=[1,2,3,
     5,5,42,
     3]
print(type(t))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

Python has 8 types of data.
1. Numeric: a) interger, b) float, c) complex
2. String
3. Sequence: a) list, b) tuple, c) range
4. Binary: a) byte, b) byte array, c) memory view
5. Dictionary
6. Set: a) set, b) frozen set
7. Boolean
8. None

In [ ]:
#numeric data type
a=10
b=10.5
c=10+5j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#string data type
n='NACTAR'
l='10'
print(type(n))
print(type(l))

<class 'str'>
<class 'str'>

In [ ]:
#slicing
x='hello world'
print(x)
print(x[0])
print(x[1])
print(x[2:5])
print(x[6:])
print(x[:5])

hello world
h
e
llo
world
hello

In [ ]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
#sequence data type
#list: using [] third bracket
t=[1,2,3,5,5,42,3]
p=[1,2,3j,'NACTAR']
print(type(t))
print(type(p))

<class 'list'>
<class 'list'>

**Class 3**

In [ ]:
#list
list=['mithun', 100, 'fahad', 4+6j, 80.5]
list1=['taher', 75, 'gulshan', 50, 34.5]
print(type(list))

print(list)
print(list1)
print(list1[0])
print(list1[2:])
print(list1[-1])
print(list1*2)
print(list+list1)

list[0]='sultan'
print(list)

<class 'list'>
['mithun', 100, 'fahad', (4+6j), 80.5]
['taher', 75, 'gulshan', 50, 34.5]
taher
['gulshan', 50, 34.5]
34.5
['taher', 75, 'gulshan', 50, 34.5, 'taher', 75, 'gulshan', 50, 34.5]
['mithun', 100, 'fahad', (4+6j), 80.5, 'taher', 75, 'gulshan', 50, 34.5]
['sultan', 100, 'fahad', (4+6j), 80.5]

In [ ]:
#tuple: non-mutable
tuple=('mithun', 100, 'fahad', 4+6j)
tuple1=('taher', 75, 'gulshan')
print(type(tuple))

tuple[2]='mohi'
print(tuple)

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [ ]:
#range
for i in range(1,10,3):
  print(i)

for i in range(10):
  print(i)

1
4
7
0
1
2
3
4
5
6
7
8
9

In [ ]:
#byte
x=bytes([65,66,67,68])
print(x)

b'ABCD'

Byte: immutable,
Byte array: mutable

In [ ]:
#bytearray
x=bytearray([97,98,99,68])
print(x)

bytearray(b'abcD')

In [ ]:
#memoryview
import array
arr=array.array('i', [1,2,3,4,5])
view=memoryview(arr)
print(view)

<memory at 0x7a07a85f1540>

**Dictionary**
dict={key1:value1,key2:value2}

In [ ]:
dict={1:'pronab',2:'huraira', 3:'ashoka'}
print(type(dict))
print(dict)
print(dict[1]) #print no. 1 key
print(dict[3])
print(dict[2])
print(dict.keys()) #print keys inside dict
print(dict.values()) #print values inside dict

<class 'dict'>
{1: 'pronab', 2: 'huraira', 3: 'ashoka'}
pronab
ashoka
huraira
dict_keys([1, 2, 3])
dict_values(['pronab', 'huraira', 'ashoka'])

In [ ]:
#set: immutable usually, except frozen set
a={1,2,3,4}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4}

In [ ]:
#boolean
a=True
b=False
print(a)
print(b)
print(type(a))

True
False
<class 'bool'>

In [ ]:
#none
a=None
print(type(a))

<class 'NoneType'>

**Type Casting**

In [ ]:
#auto type casting by python
x=20.5
y=40
z=x+y
print(z)

a=True
b=10
c=a+b
print(c)

60.5
11

In [ ]:
#manual type casting
a=int(10.5)
print(a)

a=int('100')
print(a)

b=int('50'+'30')
print(b)

10
100
5030

**Operator:**
1. Arithmatic
2. Comparison
3. Assignment
4. Logical
5. Bitwise
6. Membership
7. Identity

Arithmatic Operator:
+, -, *, /, % (modulus), ** (exponent), // (floor division)

In [ ]:
#arithmatic operator
a=10
b=20
c=a+b
print(c)


a=10
b=3
c=a%b
print(c)

a=10
b=3
c=b%a
print(c)

a=10
b=3
c=a**b
print(c)

a=10
b=3
c=a//b
print(c)

30
1
3
1000
3

**Comparison Operator:**
<, >, <=, >=, ==, !=

In [ ]:
a=40
b=50
print(a<b)
print(a>b)
print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)

True
False
False
True
False
True
True
True
False
True

In [ ]:
c='NACTAR'
d='NACTAR'
e='GOVERNMENT'
print(c==d)
print(c>e)
print(c<e)
print(c!=e)

True
True
False
True

**Assignment Operator: **
+=, -=, *=, /=, %=, **=, //=

In [ ]:
a=50
b=20
a+=b
print(a)

70
50

In [ ]:
a=50
b=20
a-=b
print(a)

30

In [ ]:
a=50
b=20
a*=b
print(a)

1000

In [ ]:
a=50
b=20
a/=b
print(a)

2.5

In [ ]:
a=50
b=20
a%=b
print(a)

10

In [ ]:
a=50
b=20
a**=b
print(a)

9536743164062500000000000000000000

In [ ]:
a=50
b=20
a//=b
print(a)

2

**Logical Operator: **
and, or, not

In [ ]:
#logical operator
a=10
b=15
c=20
print(a<b and a<c)
print(a<b and a>c)
print(a<b or a>c)
print(not(a<b or a>c))

True
False
True
False

**Bitwise Operator:**
and (&), or (|), not, ex-or(^), left shift (<<), right shift (>>)

In [ ]:
#bitwise operator
a=15
b=10
print('a=', a, 'b=', b, 'a&b=', a&b) #and
print('a=', a, 'b=', b, 'a&b=', a|b) #or
print('a=', a, 'b=', b, 'a^b=', a^b) #ex-or
print('not a=', ~a) #not
print('left shift of a<<2=', a<<2) #left shift
print('right shift of a>>2=', a>>2) #right shift

a= 15 b= 10 a&b= 10
a= 15 b= 10 a&b= 15
a= 15 b= 10 a^b= 5
not a= -16
left shift of a<<2= 60
right shift of a>>2= 3

**Membership Operator**
1. in
2. not in

In [ ]:
#membership operator
a=[10,20,30,40]
b=10
c=45
print('b is present in a=', b in a)
print('c is present in a=', c in a)
print('c is not present in a=', c not in a)

b is present in a= True
c is present in a= False
c is not present in a= True

In [ ]:
x='NACTAR'
n='N'
a='ACT'
print('N is present in x=', n in x)
print('ACT is present in x=', a in x)
print('ACT is not present in x=', a not in x)

N is present in x= True
ACT is present in x= True
ACT is not present in x= False

**Identity Operator:** to check if they holding same memory or not
1. is
2. is not

In [ ]:
a=10
b=20
d=10
c=a
print(a is b)
print(a is not b)
print(a is c)
print(a is d)
print(id(a)) #to check id of memory
print(id(b))
print(id(c))
print(id(d))

False
True
True
True
10751144
10751464
10751144
10751144

In [ ]:
a= [1,2,3,4]
b= [1,2,3,4]
c=a
print(a is b)
print(a is c)
print(id(a))
print(id(b))
print(id(c))

False
True
132626587001728
132626587000256
132626587001728

**Control Statement:**
1. Conditional control statement: if, if else, if elif, match case statement

In [ ]:
#if
x=10
y=20

if x<y:
  print('x is less than y')

x is less than y

In [ ]:
x=10
y=20
z=30

if x<y and x>z:
  print('x is less than y')

In [ ]:
#if else
age=int(input('Enter your age:'))

if age<20:
  print('teen age')
else:
  print('adult')

print('above lines are executed well')

Enter your age:65
adult
above lines are executed well

In [ ]:
#checking odd/even number
number=int(input('Enter a number:'))

if number%2==0:
  print('number is even')
else:
  print('number is odd')

Enter a number:34
number is even

In [ ]:
#elif
#checking positive/negative number
number=int(input('Enter a number:'))

if number>0:
  print('number is positive')
elif number==0:
  print('number is zero')
else:
  print('number is negative')

Enter a number:0
number is zero

In [ ]:
#identifying greater number
a=int(input('Enter a number:'))
b=int(input('Enter a number:'))
c=int(input('Enter a number:'))

if a>b and a>c:
  print(a, 'is greater')
elif b>a and b>c:
  print(b, 'is greater')
else:
  print(c, 'is greater')

Enter a number:32
Enter a number:43
Enter a number:23
43 is greater

In [ ]:
#nested if
a=int(input('Enter a number:'))

if a%2==0:
  if a%3==0:
    print('number is divisible by 2 and 3')

print('number is not divisible by 2 and 3')

Enter a number:18
number is divisible by 2 and 3
number is not divisible by 2 and 3

In [ ]:
a=int(input('Enter a number:'))

if a%2==0:
  if a%3==0:
    print('divisible by 2 and 3')
  else:
    print('divisible by 2 not by 3')
else:
  if a%3==0:
    print('divisible by 3 not by 2')
  else:
    print('not divisible by 2 and 3')

Enter a number:32
divisible by 2 not by 3

In [ ]:
#grade calculator
marks= int(input('Enter your marks='))

if marks>=80:
  print('Grade=A+')
elif marks>=70:
  print('Grade=A')
elif marks>=60:
  print('Grade=A-')
elif marks>=50:
  print('Grade=B')
else:
  print('Failed')

Enter your marks=54
Grade=B

**Homework: Make a calculator**
Take two number: a, b
operator=input('Enter any operator:')
if operator=='+'
  print('sum=', a+b)
elif ...
elif ...

In [ ]:
a=float(input('Enter first number='))
b=float(input('Enter second number='))
operator=input('Choose operator=')

if operator=='+':
  print('Summation of the two number is=', a+b)
elif operator=='-':
  print('Difference of the two number is=', a-b)
elif operator=='*':
  print('Product of the two number is=', a*b)
elif operator=='/':
  print('Quotient of the two number is=', a/b)
elif operator=='**':
  print('Exponent of the two number is=', a**b)

Enter first number=3
Enter second number=2
Choose operator=**
Exponent of the two number is= 9.0

**Match case statement**

fruit=input()
match fruit:
  case 'apple':
    print('You have entered apple')
  case 'orange':
    print('You have entered orange')

In [ ]:
#match case statement
fruit=input('Enter name of the fruit:')

def matc(fruit):
  match fruit:
    case 'apple':
      return "It's an apple"
    case 'orange':
      return "It's an orange"
    case 'banana':
      return "It's an banana"
    case 'cherry':
      return "It's an cherry"
matc(fruit)

Enter name of the fruit:orange

"It's an orange"

In [ ]:
fruit=int(input('Enter a number:'))

def matc(fruit):
  match fruit:
    case 1:
      return "It's an apple"
    case 2:
      return "It's an orange"
    case 3:
      return "It's an banana"
    case 4:
      return "It's an cherry"
matc(fruit)

Enter a number:1

"It's an apple"

In [ ]:
def intr(details):
   match details:
      case [amt, duration] if amt<10000:
         return amt*10*duration/100
      case [amt, duration] if amt>=10000:
         return amt*15*duration/100
print ("Interest = ", intr([5000,5]))
print ("Interest = ", intr([15000,3]))

Interest =  2500.0
Interest =  6750.0

**Loop control statement: **
1. for
2. while

In [ ]:
for i in range(5):
  print('NACTAR')

NACTAR
NACTAR
NACTAR
NACTAR
NACTAR

In [ ]:
for x in 'NACTAR':
  print(x)

N
A
C
T
A
R

In [ ]:
for x in range(5):
  print(x)
  print('NACTAR')

0
NACTAR
1
NACTAR
2
NACTAR
3
NACTAR
4
NACTAR

In [ ]:
#even numbers
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
#odd numbers
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [ ]:
#cumulative summation

numbers=(10,20,30,40,50)
total=0
for num in numbers:
  total+=num #total=total+num
  print("Cumulative summation for this loop is", total)
print('Total=', total)

Cumulative summation for this loop is 10
Cumulative summation for this loop is 30
Cumulative summation for this loop is 60
Cumulative summation for this loop is 100
Cumulative summation for this loop is 150
Total= 150

for else,
while loop,
break statement,
continue statement,
pass statement

In [ ]:
#for else
for i in range(5):
  print(i)
else:
  print("Loop is executed")

0
1
2
3
4
Loop is executed

While loop
Intialization
while condition:
  statement;
  increment/decrement value

In [ ]:
#while loop
s="NACTAR"
i=1 #initialization

while i<6:
  print("Value of i=", i)
  print(s)
  i+=1 #increment operator

Value of i= 1
NACTAR
Value of i= 2
NACTAR
Value of i= 3
NACTAR
Value of i= 4
NACTAR
Value of i= 5
NACTAR

In [ ]:
#odd numbers
i=1
while i<10:
  print(i, end=" ") #end: to print in same line
  i+=2

1 3 5 7 9

In [ ]:
#multiplication of 3
num=3
i=1
while i<11:
  print(num, "X", i, "=", num*i)
  i+=1

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
#a-z
i=65
while i<91:
  print(chr(i), end=" ")
  i+=1

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
#break
i=1
while i<10:
  print(i)
  if i==5:
    break
  i+=1
print("Outside the loop")

1
2
3
4
5

In [ ]:
#continue
i=0
while i<10:
  i+=1
  if i==5:
    continue #breaks and continue the loop, here skips when i=5
  print(i)

print("Outside the loop")

1
2
3
4
6
7
8
9
10
Outside the loop

In [ ]:
months=["jan", "feb", "mar"]
days=["sun", "mon", "tue"]

for x in months:
  for y in days:
    print(x,y)

jan sun
jan mon
jan tue
feb sun
feb mon
feb tue
mar sun
mar mon
mar tue

In [ ]:
months = ["jan", "feb", "mar"]
days = ["sun", "mon", "tue"]

# Initialize index variables
i = 0
while i < len(months):
    j = 0
    while j < len(days):
        print(months[i], days[j])
        j += 1  # Increment the day index
    i += 1  # Increment the month index

jan sun
jan mon
jan tue
feb sun
feb mon
feb tue
mar sun
mar mon
mar tue

In [ ]:
months = ["Jan", "Feb", "Mar"]
days = ["Sun", "Mon", "Tue"]
i=j=0
while i<len(months):
  while j<len(days):
    print(months[i], days[j])
    j+= 1
  i+=1
  j=0

Jan Sun
Jan Mon
Jan Tue
Feb Sun
Feb Mon
Feb Tue
Mar Sun
Mar Mon
Mar Tue

In [ ]:
#pass statement

for i in range(10):
  pass #otherwise would show error

In [ ]:
for letter in "Python":
  if letter=="h":
    pass
    print("This is pass block")
  print("Current letter:", letter)

Current letter: P
Current letter: y
Current letter: t
This is pass block
Current letter: h
Current letter: o
Current letter: n

In [ ]:
#password using while loop
correct_pass= "Python123"
enter_pass= input("Enter your password:")

while enter_pass!=correct_pass:
  print("Incorrect password, try again!")
  enter_pass= input("Enter your password:")
print("Access granted!")

Enter your password:wgwgew
Incorrect password, try again!
Enter your password:Python123
Access granted!

**Function:**
Block of code dedicated for specific task and can be reused.
Function can be of 3 types:
1. **Built-in function:** built-in in python
2. **Module based function:** by third-party, needs to be installed
3. **User defined function:** constructed by the user

In [ ]:
#display built-in functions
built_in_func=dir(__builtins__)
print(built_in_func)

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__pybind11_internals_v4_gcc_libstdcpp_cxxabi1014__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [ ]:
numbers=[12,14,45,67]
print(len(numbers))
print('Minimum number=', min(numbers))
print('Summation=', sum(numbers))

4
Minimum number= 12
Summation= 138

In [ ]:
#creating function
def my_function(): #defining function with def
  print("This is my first function")
my_function() #calling function

This is my first function

In [ ]:
#another
def multiply(a,b): #here a and b are arguement
  c=a*b
  return c
print(multiply(2,3))

6

In [ ]:
def my_function(course, inst):
  print("This is my first function")
  print("I am learning", course, "at", inst)
my_function("MLDS", "NACTAR")

This is my first function
I am learning MLDS at NACTAR

In [ ]:
def my_function(course="MLDS", inst="NACTAR"):
  print("This is my first function")
  print("I am learning", course, "at", inst)
my_function()

This is my first function
I am learning MLDS at NACTAR

In [ ]:
def percent(phy, math, maxmarks=200):
  val=(phy+math)*100/maxmarks
  return val

phy=60
math=70
result=percent(phy, math)

phy=40
math=47
result1=percent(phy, math, 100) #substitutes the earlier value for maxmarks

print(result)
print(result1)

65.0
87.0

In [ ]:
def function(a,b,c):
function(12,4,3) #positional arguement
function(a=12, b=4, c=3) #keyword arguement

In [ ]:
#converting to keyword arguement
def add(*,a,b): #(*) makes the next all keyword arguement
  sum=a+b
  return sum
print(add(a=10,b=20))

def add(a,*,b): #(*) makes the next all keyword arguement
  sum=a+b
  return sum
print(add(10,b=20))

30
30

In [ ]:
#converting to positional arguement
def add(a,b,/): #(/) only accepts positional arguement before it
  sum=a+b
  return sum
print(add(10,20))

def add(a,/,b):
  sum=a+b
  return sum
print(add(10,b=20))

30
30

In [ ]:
def add(*a):
  sum=0
  for i in a:
    sum=sum+i
  return sum
print(add(10,34,45,39))

128

In [ ]:
def  ttt(*a): #can take multiple arguement
  print("First name=", a[0])
ttt("Pronab", "Das", "Shaikat")

First name= Pronab

In [ ]:
#Lambda function
#can execute only one expression
a= lambda x:x+10
print(a(10))

x= lambda a,b:a+b
print(x(10,20))

20
30

In [ ]:
def myfunc(n):
  return lambda a:a*n
mydoubler=myfunc(2)
print(mydoubler(10))

x=lambda a:a*2
print(x(10))

20
20

List item

In [ ]:
list=[1,2,3,4,5,"Pronab",2.5,"10"]
print(list)
#slicing
print('My name is', list[5])
print(list[-1]) #prints last index
print(list[2:4]) #prints 2nd,3rd index
print(list[:4])
print(list[4:])

[1, 2, 3, 4, 5, 'Pronab', 2.5, '10']
My name is Pronab
10
[3, 4]
[1, 2, 3, 4]
[5, 'Pronab', 2.5, '10']

In [ ]:
#changing elements
list=[1,2,3,4,5,"Pronab",2.5,"10"]
list[5]="Shaikat"
print(list)

list[1:3]=[10,20]
print(list)

[1, 2, 3, 4, 5, 'Shaikat', 2.5, '10']
[1, 10, 20, 4, 5, 'Shaikat', 2.5, '10']

In [ ]:
#append
list=[1,2,3,4,5,"Pronab",2.5,"10"]
print(list)
list.append(100)
print(list)

[1, 2, 3, 4, 5, 'Pronab', 2.5, '10']
[1, 2, 3, 4, 5, 'Pronab', 2.5, '10', 100]

In [ ]:
#extend
lst=[1,2,3,4,5,"Pronab",2.5,"10"]
lst2=["a", "b", "c", "d"]
lst.extend(lst2)
print(lst)

[1, 2, 3, 4, 5, 'Pronab', 2.5, '10', 'a', 'b', 'c', 'd']

In [ ]:
#insert
lst=[1,2,3,4,5,"Pronab",2.5,"10"]
lst.insert(2,56) #56 inserted into 2nd position
print(lst)

[1, 2, 56, 3, 4, 5, 'Pronab', 2.5, '10']

In [ ]:
#remove
lst=[1,2,3,4,5,"Pronab",2.5,"10"]
lst.remove(2) #based on value not index
print(lst)

[1, 3, 4, 5, 'Pronab', 2.5, '10']

In [ ]:
#pop
lst=[1,2,3,4,5,"Pronab",2.5,"10"]lst=[1,2,3,4,5,"Pronab",2.5,"10"]
lst.pop() #removes last one
print(lst)
lst.pop(1) #removes 2nd index
print(lst)

[1, 2, 3, 4, 5, 'Pronab', 2.5]
[1, 3, 4, 5, 'Pronab', 2.5]

In [ ]:
#index
lst=[1,2,3,4,5,"Pronab",2.5,"10"]
print(lst.index(3)) #index of value

2

In [ ]:
#count
lst=[1,2,3,4,5,"Pronab",2.5,"10",2,2]
print(lst.count(2))

3

In [ ]:
#sorting
lst=[23,545,23,556,23,56,7,2]
lst.sort() #ascending order
print(lst)
lst.sort(reverse=True)
print(lst) #descending order

[2, 7, 23, 23, 23, 56, 545, 556]
[556, 545, 56, 23, 23, 23, 7, 2]

In [ ]:
#reverse
lst=[23,545,23,556,23,56,7,2]
lst.reverse()
print(lst)

[2, 7, 56, 23, 556, 23, 545, 23]

In [ ]:
#clear
lst=[23,545,23,556,23,56,7,2]
lst.clear()
print(lst)

[]

In [ ]:
#copy
lst=[23,545,23,556,23,56,7,2]
lst2=lst.copy()
print(lst2)

[23, 545, 23, 556, 23, 56, 7, 2]

Home Work: Use dir(set) and perform the functions

Set

In [ ]:
#add
set1={1,2,3,4}
print(type(set1))
set1.add(5) #only takes one arguement
print(set1)

<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
#clear
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 5}
set()

In [ ]:
#copy
set1={1,2,3,4}
set2=set1.copy()
print(set2)

{1, 2, 3, 4}

In [ ]:
#difference
A={1,2,3,4,5}
B={4,5,6,7,8}
C=A.difference(B) #A-B
print(C)

{1, 2, 3}

In [ ]:
#difference update
A={1,2,3,4,5}
B={4,5,6,7,8}
A.difference_update(B) #A-B and update in A
print(A)

{1, 2, 3}

In [ ]:
#pop
A={1,2,3,4,5,6}
A.pop() #delete random element
print(A)

{2, 3, 4, 5, 6}

In [ ]:
#discard
A={1,2,3,4,5}
A.discard(3) #delete specific element
print(A)

{1, 2, 4, 5}

In [ ]:
#issubset
A={1,2,3,4,5}
B={1,2}
print(A.issubset(B))
print(B.issubset(A))

False
True

In [ ]:
#issuperset
A={1,2,3,4,5}
B={1,2}
print(A.issuperset(B))

True

In [ ]:
#remove
A={1,2,3,4,5}
A.remove(2) #will give error if number put inside is not in the set, which is not the case for discard
print(A)

{1, 3, 4, 5}

In [ ]:
#symmetric_difference
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A.symmetric_difference(B)) #common elements remove

{1, 2, 3, 6, 7, 8}

In [ ]:
#symmetric_difference_update
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A.symmetric_difference_update(B))
print(A) #stores the result in A

None
{1, 2, 3, 6, 7, 8}

In [ ]:
#union
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#update
A={1,2,3,4,5}
B={4,5,6,7,8}
A.update(B) #A union B and update
print(A)

{1, 2, 3, 4, 5, 6, 7, 8}

Dictionary

Access dictionary data using third bracket, get method key(), values(), items()

In [ ]:
student_info={"name": "Pronab","age":"27","department":"FVM"}
print(student_info)

{'name': 'Pronab', 'age': '27', 'department': 'FVM'}

In [ ]:
#accessing dictionary data
print(student_info["name"])

Pronab

In [ ]:
#get method to access dict data
print(student_info.get("name"))
print(student_info.get("unknown", "key is not found"))

Pronab
key is not found

In [ ]:
#getting all keys
print(student_info)
all_keys=student_info.keys()
print(all_keys)

{'name': 'Pronab', 'age': '27', 'department': 'FVM'}
dict_keys(['name', 'age', 'department'])

In [ ]:
#getting all values
all_values=student_info.values()
print(all_values)

dict_values(['Pronab', '27', 'FVM'])

In [ ]:
#item
all_items=student_info.items()
print(all_items)

dict_items([('name', 'Pronab'), ('age', '27'), ('department', 'FVM')])

In [ ]:
#changing value
print(student_info)
student_info["age"]="28"
print(student_info)

{'name': 'Pronab', 'age': '27', 'department': 'FVM'}
{'name': 'Pronab', 'age': '28', 'department': 'FVM'}

In [ ]:
#update
print(student_info)
student_info.update({"name":"Shaikat","department":"OHI"})
print(student_info)

{'name': 'Pronab', 'age': '28', 'department': 'FVM'}
{'name': 'Shaikat', 'age': '28', 'department': 'OHI'}

In [ ]:
#adding new key
print(student_info)
student_info["email"]="pds@gmail.com"
print(student_info)

{'name': 'Shaikat', 'age': '28', 'department': 'OHI'}
{'name': 'Shaikat', 'age': '28', 'department': 'OHI', 'email': 'pds@gmail.com'}

In [ ]:
#conditional change of value
print(student_info)
if student_info["age"]=="28":
  student_info["age"]="Twenty eight"
print(student_info)

{'name': 'Shaikat', 'age': '28', 'department': 'OHI', 'email': 'pds@gmail.com'}
{'name': 'Shaikat', 'age': 'Twenty eight', 'department': 'OHI', 'email': 'pds@gmail.com'}

In [ ]:
number={1:10,2:20,3:30,4:40,5:50}
print(type(number))
print(number)

<class 'dict'>
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [ ]:
number={"ten":10,"twenty":20,"thirty":30}
print(number)
number["forty"]=40
print(number)

{'ten': 10, 'twenty': 20, 'thirty': 30}
{'ten': 10, 'twenty': 20, 'thirty': 30, 'forty': 40}

In [ ]:
#unpacking operator (*)
number={"ten":10,"twenty":20,"thirty":30}
number1={"hundred":100,"two hundred":200,"thee hundred":300}
new_number={**number,**number1}
print(new_number)

{'ten': 10, 'twenty': 20, 'thirty': 30, 'hundred': 100, 'two hundred': 200, 'thee hundred': 300}

In [ ]:
#union assignment operator
number={"ten":10,"twenty":20,"thirty":30}
number1={"hundred":100,"two hundred":200,"thee hundred":300}
nnn=number|number1
print(nnn)

{'ten': 10, 'twenty': 20, 'thirty': 30, 'hundred': 100, 'two hundred': 200, 'thee hundred': 300}

In [ ]:
number={"ten":10,"twenty":20,"thirty":30}
number1={"hundred":100,"two hundred":200,"thee hundred":300}
number|=number1 #stored in first variable
print(number)

{'ten': 10, 'twenty': 20, 'thirty': 30, 'hundred': 100, 'two hundred': 200, 'thee hundred': 300}

In [ ]:
#initial dictionary
student={"name":"Alice","age":21}
#adding new key-value pair
major=student.setdefault("major","CSE") #1st one key, 2nd value
print(student)

{'name': 'Alice', 'age': 21, 'major': 'CSE'}

In [ ]:
#delete
number={"ten":10,"twenty":20,"thirty":30}
print(number)
del number["twenty"]
print(number)

{'ten': 10, 'twenty': 20, 'thirty': 30}
{'ten': 10, 'thirty': 30}

In [ ]:
#deleting whole dictionary
number={"ten":10,"twenty":20,"thirty":30}
del number
print(number)

NameError: name 'number' is not defined

In [ ]:
#pop
number={"ten":10,"twenty":20,"thirty":30}
val=number.pop("twenty")
print(number)
print(val)

{'ten': 10, 'thirty': 30}
20

In [ ]:
#popitem
number={"ten":10,"twenty":20,"thirty":30}
print(number)
val=number.popitem()
print(number)
print(val)

{'ten': 10, 'twenty': 20, 'thirty': 30}
{'ten': 10, 'twenty': 20}
('thirty', 30)

In [ ]:
def unique_char_count(s):
  char_count={}
  for char in s:
    char_count[char]=char_count.get(char,0)+1 #first turn, 'p' key
#in first turn, p and value 0, as it is empty dict
  for char, count in char_count.items():
    print(f"'{char}':{count}")

input_str="programming"
print("Unique characters with their count:")
unique_char_count(input_str)

Unique characters with their count:
'p':1
'r':2
'o':1
'g':2
'a':1
'm':2
'i':1
'n':1

In [ ]:
#adding character in string (immutable)
s1="NATAR"
print(s1)
l1=list(s1) #converting to list
print(l1)
l1.insert(2,"C")
print(l1)
s1=''.join(l1) #converting back to string
print(s1)

NATAR
['N', 'A', 'T', 'A', 'R']
['N', 'A', 'C', 'T', 'A', 'R']
NACTAR

In [ ]:
s1="NATAR"
print(s1[2])
s1[2]="C"
print(s1)

T

TypeError: 'str' object does not support item assignment

In [ ]:
import array as ar #shorten for of array (ar)
s1="NATAR"
print(s1)
s2=ar.array('u',s1) #convert to array, here 'u' is unicode
print(type(s2))
s2.insert(2,"C")
s1=s2.tounicode()
print(s1)
print(type(s1))

NATAR
<class 'array.array'>
NACTAR
<class 'str'>

In [ ]:
mystring="Hello, This program will count vowels"
vowels="aeiou"
count=0
for char in mystring:
  if char.lower() in vowels: #.lower convert capital letter to small
    count+=1
print(count)

10

In [ ]:
mystring="Hello, This program will count consonant"
vowels="aeiou"
count=0
for char in mystring:
  if char.lower() not in vowels:
    count+=1
print("Consonant count", count)
print(len(mystring))
print("Vowel count", len(mystring)-count)

Consonant count 29
40
Vowel count 11

In [ ]:
s1="NATIONAL"
s2="ACADEMY"
a1=" "
s3=s1+a1+s2
print(s3)

NATIONAL ACADEMY

In [ ]:
s1="NATIONAL"
s2=s1*5
print(s2)

NATIONALNATIONALNATIONALNATIONALNATIONAL

In [ ]:
#format specifier: %s
s1="NACTAR"
print("NATIONAL ACADEMY FOR COMPUTER %s"%s1)

NATIONAL ACADEMY FOR COMPUTER NACTAR

In [ ]:
#format method
s1="NATIONAL ACADEMY FOR {}"
print(s1.format("COMPUTER"))

NATIONAL ACADEMY FOR COMPUTER

In [ ]:
#f
val=20
val1=40
sum=f"total value= {val+val1}"
print(sum)
print(f"total value:{val} and {val1}")

total value= 60
total value:20 and 40